.quota-message {
  font-weight: 600;
  padding: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #ff0000;
}

.quota-message {
  background-color: #ffcccc;
  color: #900;
}

.quota-message p {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 30s linear infinite;
  color: #000;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
